body {
  position: relative;
  text-align: center;
  background: #021832;
  color: #FFFFFF;
  padding: 25px;
  font-family: Helvetica, Verdana, sans-serif;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
}

h3 {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: normal;
}

button {
  position: relative;
  font-size: 20px;
  margin-bottom: 15px;
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  border: white solid 2px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: black;
}

a {
  color: orange;
  text-decoration: none;
}

.random:hover {
  color: white;
  background-color: black;
}

.desc {
  font-family: 'Times New Roman', serif;
  position: relative;
  width: 30%;
  padding: 10px;
  border: gray ridge 10px;
  background-color: #002D60;
  margin: 30px;
}

.random {
  width: 50%;
  height: 60px;
}

.randomDesc {
  width: 70%;
  left: 12%;
}

.easy {
  background-color: green;
  right: 30%;
}
.easydesc {
  background-color: green;
  left: 1%;
  bottom: 30px;
}

.normal {
  background-color: orange;
  bottom: 240px;
  left: 30%;
}
.normaldesc {
  background-color: orange;
  color: black;
  left: 62%;
  bottom: 270px;
}

.hard {
  background-color: #ee0000;
  color: white;
  right: 30%;
  bottom: 235px;
}
.harddesc {
  background-color: #ee0000;
  color: white;
  left: 1%;
  bottom: 260px;
}

.veryhard {
  background-color: #650707;
  color: white;
  left: 30%;
  bottom: 475px;
}
.veryharddesc {
  background-color: #650707;
  color: white;
  left: 62%;
  bottom: 485px;
}
